body{
    background-color: #d8bfd8;
}
.control {
    text-align: center;
    background-color: #d8bfd8;
    border-collapse: collapse;
}

.td1 {
    text-align: left;
}

.td2 {
    font-size: 20px;
    font-family: cursive;
    color: purple;
}

.td3 {
    text-align: right;
}

a {
    text-decoration-line: none;
    color: aliceblue;
    font-family: cursive;
    font-size: 32px;
    text-align: center;
    margin: 9px;

}

.tdm {
    background-color: rgb(164, 100, 224);
    height: 100px;
}

.pes {
    display: inline-flex;
    gap: 100px;
}

details {
    display: block;
    margin: 10px;

}

summary {
    cursor: pointer;
    border-collapse: collapse;
    color: #fff;
    font-family: cursive;
    font-size: 32px;
    text-align: center;

}

details a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: #fff;
    border: solid rgb(143, 128, 161);
}

details summary {
    list-style: none;
}